div, h1, h2{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

.clock{
  width: 500px;
  height: 150px;
  color: white;
  background-color: blue;
  font-family: fantasy;
  margin: 50px auto;
  border: 3px solid black;
}


.time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;

}

.date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.weather{
  background-color: yellow;
  width: 500px;
  height: 150px;
  margin: 50px auto;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

.auto {
  display: flex;
  background-color: red;
  width: 200px;
  height: 250px;
  margin: 50px auto;
  border: 3px solid black;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;

}

.auto li {
  cursor: pointer;
}
